{% extends "base.html" %}

{% block title %}Company Code Mapping Search - About{% endblock %}

{% block page_content %}
<div class="page-header">
  <h2>About This Site</h2>
</div>

<div class="row">
  <div class="form-group col-md-10 col-lg-9">
    <p>XXX company upgraded its financial reporting platform to cloud-bases. As the result, company identification 
      codes changed from 4 digits to 5 digits. This site provides a mapping table between legacy company codes and 
      new company codes, aiming to better assist financial statement users analyzing data. </p>
    <br>

    <h3>Disclaimer</h3>
    <ul>
      <li>The entire site and its data are fictitious, solely for learning purpose</li>
      <li><a href="https://www.flaticon.com/free-icons/mapping" title="mapping icons">Mapping icons created by Flat Icons - Flaticon</a></li>
    </ul>
    <br>
  </div>
</div>
{% endblock %}
